body{
    width: 100%;
    margin:0px;
    height:95vh;
}
a{
    text-decoration: none;
    color : black;
}
.menu{
    display: inline-flex;
    flex-wrap: nowrap;
    width: 20%;
}

.Searchbox{
    display: inline-flex;
    flex-wrap: nowrap;
    width: 50%;
}
.hautdroit{
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: right;
    width: 20%;
}

#Hamburger{
    margin-top:2px;
    margin-right: 8px;
    max-height: 50px;
    max-width: 50px;
}
#Hamburger2{
    margin-top:2px;
    margin-right: 8px;
    max-height: 50px;
    max-width: 50px;
    display: none;
}
#Nomdusite{
    margin-left: 10px;
    word-wrap: break-word;

}
#Hamburger:hover, #Hamburger2:hover,#Nomdusite:hover,#loupe:hover,#notification:hover,#profil:hover,#profil2:hover,#notification2:hover,li{
    cursor : pointer;
}

#searchbar{
    width:100%;
    border-radius:5px;
}
#loupe{
    max-height: 40px;
    max-width: 40px;
    margin-left: 10px;
    margin-top:8px;
}
#loupe2{
    max-height: 40px;
    max-width: 40px;
    margin-left: 10px;
    margin-top:12px;

}
#notification{
    max-height: 40px;
  max-width: 40px;
  margin-top:8px;
  margin-right:10px;
}
#notification2{
    max-height: 40px;
  max-width: 40px;
  margin-top:8px;
  margin-right:10px;
    display: none;
}
#profil{
    max-height: 40px;
  max-width: 40px;
  margin-top:8px;

}
#profil2{

    max-height: 40px;
    max-width: 40px;
    margin-top:8px;
    display :none;

}
header{
    background-color: lightskyblue ;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width:98%;
    max-height:60px;
    padding:1%;
    border-bottom: 3px solid black;
}
.corpus{
    display:flex;
    height:100%;
}
nav{
    background-color: lightskyblue ;
    height:100%;
    min-height:100%;
    min-width: 110px; 
    width: 12%;
    display: none;
    border-right: 3px solid black;
    margin-left:0px;
}

.nav{
    width:100%;
    display:inline-flex;
    flex-direction:column;
    height: 100%;
    font-weight: bold;

} 
#Accueil, #Amis, #Evenements{ 
    max-width:100%;
    display:inline-flex;
    flex-wrap: nowrap;
    text-overflow:hidden;
    border-bottom:1px solid gray;
}
#Accueil:hover, #Amis:hover, #Evenements:hover{
    background-color: #EBF5FB;
    cursor : pointer;
}
#amis, #accueil, #evenements{
    margin-left: 5px;
    justify-content: center;
    text-align: center;
    max-height:20px;
    max-width:20px;
    margin-right:5px;
    margin-top: 15px;
}
#profil_dynamique{
    position : absolute;
    display : none;
    top : 80px;
    right: -10px;
    -webkit-transition-delay: 500ms;
        -moz-transition-delay: 500ms;
         -ms-transition-delay: 500ms;
          -o-transition-delay: 500ms;
             transition-delay: 500ms;
}
#profil_dynamique ul {
    width:130px;
    list-style:none;
    padding:0px;
}
#profil_dynamique ul li {
    text-align:center;
    border: 1px solid black ;
    padding:15px 15px;
    max-height: 55px;
    
}
#profil_dynamique ul li a{
    text-decoration:none;
    color:black;
    text-transform:uppercase;
    
  }
  #profil_dynamique ul li:hover {
    background: #54B6A8;
    -moz-transition: all .8s; 
    -webkit-transition: all .8s; 
    -o-transition: all .8s; 
    transition: all .8s;
}

#notification_dynamique{
    position : absolute;
    display:none;
    top : 80px;
    right: 125px;
    -webkit-transition-delay: 500ms;
        -moz-transition-delay: 500ms;
         -ms-transition-delay: 500ms;
          -o-transition-delay: 500ms;
             transition-delay: 500ms;
}
#notification_dynamique ul {
    width:130px;
    list-style:none;
    padding:0px;
}
#notification_dynamique ul li {
    text-align:center;
    border: 1px solid black ;
    padding:15px 15px;
    max-height: 55px;
    
}
#notification_dynamique ul li a{
    text-decoration:none;
    color:black;
    text-transform:uppercase;
    
  }
  #notification_dynamique ul li:hover {
    background: #54B6A8;
    -moz-transition: all .8s; 
    -webkit-transition: all .8s; 
    -o-transition: all .8s; 
    transition: all .8s;
}

/*Page d'info sur l'évènement*/

.contenu{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2% 2% 2% 2%;
    width: 96%;
    height: 80vh;
    background:white ;
    border: 2px solid lightskyblue;
    box-shadow: inset 5px mediumaquamarine;
    flex-direction: row;
    /* overflow: hidden; */
} 
.font{
    margin-left: 40px;
    margin-top: 2%;
    display:flex;
    max-width: 50%;
    flex-direction: column;

}

#minia1{
    max-width : 50%;
    max-height : 50%;
}

.pas_etoile{
    margin-left: 500px;

}

.box_etoiles{
    margin-left: 500px;
    flex-direction: row;
}

.etoile{
    height: 5%;
    width: 5%;
}

.Description{
    padding: 3px;
    max-width: 50%;
    text-align: left;
    margin-left: -120px;
}

#desc_titre{
    font-size: 17px;
}

#infos{
    
    padding: 5px;
    resize : none;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-family:"Courier New", Courier, monospace;
    min-width: 30em;
    min-height: 4rem;
    line-height: 1;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.participer{
    background: rgb(76, 170, 233) ;
    border: 2px solid lightskyblue;
    box-shadow: inset 5px mediumaquamarine; 
    border-radius: 30px;
    padding: 6px;
}

/* Note evenement*/

#titre-pop {
    margin-top: -7px;
    margin-bottom: 4px;
}

.interets-popup {
    display:none;
    position: relative;
    width: 70%;
  }
  
  .form-popup {
    display: block;
    border: 2px solid #666;
    z-index: 9;
  }
  
  .form-container {
    max-width: 400px;
    padding: 7px;
    background-color: #fff;
  }
  
  .form-container .btn {
    margin-top: 3px; 
    background-color: #d9dde271;
    color: rgb(0, 0, 0);
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 7px;
    opacity: 0.8;
    border: 2px solid black; 
  }
  .form-container .btnmodif {
    margin-top: 5px; 
    background-color: #d9dde271;
    color: rgb(0, 0, 0);
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 5px;
    opacity: 0.8;
    border: 2px solid black; 
  }
  
  .form-container .cancel {
    background-color: #d9dde271;
    border: 2px solid black; 
  }
  
  .form-container .btn:hover, .open-button:hover, .btnmodif:hover {
    opacity: 1;
  }
  .etoile1, .etoile2, .etoile3, .etoile4, .etoile5{
    height: 10%;
    width: 10%;
    cursor: pointer;
}
.etoile1j, .etoile2j, .etoile3j, .etoile4j, .etoile5j{
    height: 10%;
    width: 10%;
    cursor: pointer;
}
.etoile1:hover .box_etoiles1{
    display:block;
}
.box_etoiles1, .box_etoiles2, .box_etoiles3, .box_etoiles4, .box_etoiles5{
    flex-direction: row;
    display:none;
}
.box_etoile{
    flex-direction: row;
}
.erreur{
    color:red;
}
.btnnoter2{
    display:none;
}
.commentaire{
    margin-left:2% ;
}
.txtcommentaire{
    display:none;
}

/* Espace des commentaire */ 

.commentBox{
    padding: 1%;
    width: 94%;
    border: 1px solid rgb(23, 170, 196);
    background-color: #f0f0f0;
    margin-bottom: 20px;
    margin-left: 30px;
}

.leftPanelImg{
    width: 10%;
    float: left;
}

.leftPanelImg img{
    margin-left: 15px;
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
}

.rightPanel{
    width: 85%;
    float: left;
}
.clear{
    clear:both;
}

.form{
    display: grid;
    padding: 10px;
    border : 1px solid rgb(19, 187, 209);
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 28px;
}

#addComment{
    margin-top: 10px;
}

.form [type="button"] {
    background-color: #33caca;
    box-shadow: 3px 5px 8px 2px rgba(51, 202, 127, .2);
    border: 3px solid transparent;
    font-size: 1rem;
    color: white;
    padding: 0.2rem;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

#bodyText{
    resize: none;
    margin-bottom: 20px;
}

.form input[type ="text"], .form textarea, .form input[type="date"]{
    border: 1px solid #000;
    padding: 2px;
    width: 300px;
}